<nav class="navbar navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <a class="active" href="https://www.linkedin.com/in/batuhan-duzcu-9a55b723b/"><i class="fa fa-fw fa-linkedin"
        style="font-size: 24px;color: rgb(16, 197, 46);"></i></a>
    <a class="navbar-brand"
      style="color: rgb(16, 197, 46); font-weight: 700; text-transform: uppercase; font-size: 30px; margin: auto;"><img src="https://i.hizliresim.com/gqruriw.jpeg" width="61" height="36" class="d-inline-block align-top" alt="">Tordle</a>

    <div class="collapse navbar-collapse" class="justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-1 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"><i style="color: rgb(16, 197, 46);"
              class="fa fa-fw fa-info"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i style="color: rgb(16, 197, 46);" class="fa fa-fw fa-list"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i style="color: rgb(16, 197, 46);" class="fa fa-fw fa-cog"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>