p {
    color: aliceblue;
}

.game {
    height: 65%;
    align-items: center;
    /* vertical-align: middle; */
    padding-top: 5%;
}

.rows {
    display: flex;
    justify-content: center;
}

.rows strong {
    color: white;
    font-size: xx-large;
}

.box {
    width: 62px;
    height: 9vh;
    max-height: 62px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
    border: 1px solid;
    border-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .salla{
        animation-name: salla;
        animation-duration: 500ms;
    }

    .yazili{
      border-color: white;
      animation-name: yazili;
        animation-duration: 500ms;
    }
    .sari{
      animation-name: çevir1;
      animation-duration: 1000ms;
      background-color: #b59f3b;
    }
    .gri{
      animation-name: çevir1;
      animation-duration: 1000ms;
      background-color: #3a3a3c;
    }
    .yesil{
      animation-name: çevir1;
      animation-duration: 1000ms;
      background-color: #538d4e;
    }

    @keyframes yazili {
      0%, 20% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(5px);
      }
      60% {
        transform: translateY(-10px);
      }
      80% {
        transform: translateY(2px);
      }
      100% {
        transform: translateY(0);

      }
    }

@keyframes salla{
    10%,
      90% {
        transform: translateX(-1px);
      }
      20%,
      80% {
        transform: translateX(2px);
      }
      30%,
      50%,
      70% {
        transform: translateX(-4px);
      }

      40%,
      60% {
        transform: translateX(4px);
      }
}
@keyframes çevir1{
    0% {
      transform: rotateX(0);
      background-color: black
    }
    25% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }


.alert {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 50px;
    background-color: rgba(107, 107, 107, 0.938);
    color: white;
    width: fit-content;
    opacity: 0;


}

.klavye > button {
    font-weight: bold;
    border: 1;
    padding: 0;
    margin: 0 3px 5px 0;
    height: 58px;
    border-radius: 8px;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
}

/* button[data-state='correct'] {
      background-color: var(--key-bg-correct);
      color: var(--key-evaluated-text-color);
    }
  
    button[data-state='present'] {
      background-color: var(--key-bg-present);
      color: var(--key-evaluated-text-color);
    }
  
    button[data-state='absent'] {
      background-color: var(--key-bg-absent);
      color: var(--key-evaluated-text-color);
    } */
/* .alert::before{
    opacity: 1;
}
.alert::after{
    opacity: 0;
    transition: 300ms;
} */